

/* root color so that we can reuse it keep our site uniform 
 */

 :root{
    --main-bg:rgb(255, 255, 255);;
    --main-color:rgb(255, 123, 0);
    --main-cement:rgb(129 123 123);

 }


 body {
	background-color: #fff;
	font-family: "poppins", sans-serif;
	overflow: visible;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
}

 /* to make page responsive and 1 rem equal to 10 px  */

 html{
    font-size:62.5%;
 }
.row{
   margin: 0;
}






/* style of navbar  */

.nav_head{
    background-color: var(--main-cement);


    /* fixing navbar to top when it reaches o px from top  */
    position: sticky;
    top: -1px;
    z-index: 700;
    
  }
  /* background fo nav  */
  .navbar{
     color: rgb(255, 255, 255);
     background-color: var(--main-cement);
     text-shadow: 0px 2px 5px black;
     
  }
  
  /* anchor tags of nav  */

  .navbar a{
    color: white;
    font-size: 1.8rem;
    
  }
  .navbar a:hover{
 color: var(--main-color) !important;
 text-shadow: 1px 1px 1px black;
 font-weight: 600;
 }
 /* targeting active navbar item  */

 .navbar a.active {
    color: var(--main-color)!important;
    text-shadow: 2px 0px 1px black;
}


 .nav-item{
    /* box-shadow: inset 0.1em 0.1em 0.7em #282727; */
 }
  .nav-brick{
    width: 2.5em;
    height: 2.5em;
    background-image: url('https://www.svgrepo.com/show/147781/brick.svg');
  }

  /* giving spaces between li of nav element 
   */
  .navbar li {
    margin-left:2rem;
   }

   .logoimg{
      width: 43px;
      margin-right: 5px;
   }


   /* syling of intro img  */

.introimg{
   display: flex;
   display: flex;
    justify-content: center;
    position: relative;
    /* bottom: 4%; */
    top: -4%;
    z-index: 5;
}

.thinkimg{
   
   width: 71%;
   z-index: 5;
}

/* making and eyes div equal to viewport to make parent for eyes  */
.eyes{
   position: absolute;
   
   width: 100%;
    height: 100%;
   
}

.lefteye{
   position: relative;
   left: 42.4766%;
    width: 2%;
    top: 37.1565%;
    z-index: 0;

}

.righteye{
   
   z-index: 0;
   position: relative;
   left: 43.9531%;
   width: 3%;
   top: 40.2626%;


}

.introtext{
   position: absolute;
   top: 35%;
    left: 42%;
    font-size: 7rem;
    width: 35vw;
    
    
}



.show{
   display: block;
}

.hidden{
   display: none;
   transition: 0.5s;
}

.subheading{
   font-size: 70%;
    font-family: raleway;
}
.heading{
   font-size: 79%;
}




/* mediaquery for text size change  */
@media (min-width: 425px) and (max-width: 768px){
   .introtext{
      top:31%
   }
.subheading{
   color: grey;
   font-size: 40%;
}
.heading{
   font-size: 51%;
}

}




/* 
@media(max-width:768px)and(min-width:425px){
   .introtext{
      font-size: 4rem;
      top:31%
   }
   .heading{
      font-size: 51%;
      
   }
   .subheading{
      font-size: 40%;
      color: grey;


   }
} */
@media(max-width:425px){
   .introtext{
      font-size: 2rem;
   }
}


/* social media icon part  */

/* creating background color  */

.socialsec{
position: relative;
width: 100%;
height: 50vh;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(to bottom,#ff4f8b,#dff1ff);
}

section .color{
   position: absolute;
   filter: blur(150px);
}


/* creating 3 color boxes for gradient  */
section .color:nth-child(1){
   top: 0%;
    left: 0;
    background: #ff359b;
    width: 50%;
    height: 50%;
}
section .color:nth-child(2){
   bottom: 0%;
    background: #fffd87;
    width: 50%;
    height: 50%;
    right: 0%;
}
section .color:nth-child(3){
   bottom: 0%;
   right: 0%;
   background: #00d2ff;
   width: 30%;
   height: 30%;

}


/* now creating half box for icons draw over  */

.socialsec::before{
   content: "";
   position:absolute;
   width: 100%;
   height: 50%;
   bottom:0%;
   z-index:10;
   border-top: 1px solid rgba(255,255,255,0.5);
   background: rgba(255,255,255,0.1);
   backdrop-filter:blur(10px);
}

/* styling icons  */

.socialsec ul{
   position: relative;
   display: flex;
}

.socialsec ul li{
   position: relative;
   list-style: none;
   margin: 10px;
}

.socialsec ul li a{
   position: relative;
   top: 0;
   width: 80px;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   font-size: 2em;
   border: 1px solid rgba(255,255,255,0.4);
   border-right: 1px solid rgba(255,255,255,0.2);
   border-bottom: 1px solid rgba(255,255,255,0.2);
   border-radius: 10px;
   background: rgba(255,255,255,0.1);
   backdrop-filter: blur(4px);
   /* icon will be behind drawer  */
   z-index: 1;
   box-shadow: 0 5px 45px rgba(0,0,0,0.1);
   text-decoration: none;
/* hiding glance  
*/
overflow: hidden;

/* adding transitions and delay  */
transition: top 0.5s,z-index 0.5s,transform 0.5s;
transition-delay: 0.5s, 0s ,0s;

}

/* putting icon on top on hover  */

.socialsec li a:hover{
   transition-delay: 0s, 0.5s ,0.5s;
   top: -50px;
   /* basically we are moving it on top and then transforming after 0.5s  */
   transform: translateY(50px);
   z-index: 11;
 
}



/* creating glass glance effect now  */

.socialsec li a:before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 50px;
   height:100%;
   background: rgba(255,255,255,0.5);

   /* now we will rotate this for 45 deg to create slanted glance */
transform: skewX(45deg) translateX(150px); 
/* now this glance will be shifted  */
transition: 0.5s;

}

/* now making glance effect on hover  */

.socialsec li a:hover::before{
   transform: skewX(45deg)translateX(-150px);

}

