

/* root color so that we can reuse it keep our site uniform 
 */

 :root{
    --main-bg:rgb(255, 255, 255);;
    --main-color:rgb(255, 123, 0);
    --main-cement:rgb(129 123 123);

 }


 body {
	background: #b3a325;
   
	font-family: "poppins", sans-serif;
	overflow: visible;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
}

 /* to make page responsive and 1 rem equal to 10 px  */

 html{
    font-size:62.5%;
 }
.row{
   margin: 0;
}






/* style of navbar  */

.nav_head{
    background-color: var(--main-cement);


    /* fixing navbar to top when it reaches o px from top  */
    position: sticky;
    top: -1px;
    z-index: 700;
    
  }
  /* background fo nav  */
  .navbar{
     color: rgb(255, 255, 255);
     background-color: var(--main-cement);
     text-shadow: 0px 2px 5px black;
     
  }
  
  /* anchor tags of nav  */

  .navbar a{
    color: white;
    font-size: 1.8rem;
    
  }
  .navbar a:hover{
 color: var(--main-color) !important;
 text-shadow: 1px 1px 1px black;
 font-weight: 600;
 }
 /* targeting active navbar item  */

 .navbar a.active {
    color: var(--main-color)!important;
    text-shadow: 2px 0px 1px black;
}


 .nav-item{
    /* box-shadow: inset 0.1em 0.1em 0.7em #282727; */
 }
  .nav-brick{
    width: 2.5em;
    height: 2.5em;
    background-image: url('https://www.svgrepo.com/show/147781/brick.svg');
  }

  /* giving spaces between li of nav element 
   */
  .navbar li {
    margin-left:2rem;
   }

   .logoimg{
      width: 43px;
      margin-right: 5px;
   }


   /* syling of intro img  */

.introimg{
   display: flex;
   display: flex;
    justify-content: center;
    position: relative;
    /* bottom: 4%; */
    top: -4%;
    z-index: 5;
}

.thinkimg{
   
   width: 71%;
   z-index: 5;
}

/* making and eyes div equal to viewport to make parent for eyes  */
.eyeanim{
   background: white;
}
.eyes{
   position: absolute;
   
   width: 100%;
    height: 100%;
   
}

.lefteye{
   position: relative;
   left: 42.4766%;
    width: 2%;
    top: 37.1565%;
    z-index: 0;

}

.righteye{
   
   z-index: 0;
   position: relative;
   left: 43.9531%;
   width: 3%;
   top: 40.2626%;


}

.introtext{
   position: absolute;
   top: 35%;
    left: 42%;
    font-size: 7rem;
    width: 35vw;
    
    
}



.show{
   display: block;
}

/* .hidden{
   display: none;
   transition: 0.5s;
} */

.subheading{
   font-size: 70%;
    font-family: raleway;
}
.heading{
   font-size: 79%;
}
.pageheading{
   font-weight: 700;
}



/* mediaquery for text size change  */
@media (min-width: 425px) and (max-width: 768px){
   .introtext{
      top:31%
   }
.subheading{
   color: grey;
   font-size: 40%;
}
.heading{
   font-size: 51%;
}

}




/* 
@media(max-width:768px)and(min-width:425px){
   .introtext{
      font-size: 4rem;
      top:31%
   }
   .heading{
      font-size: 51%;
      
   }
   .subheading{
      font-size: 40%;
      color: grey;


   }
} */
@media(max-width:425px){
   .introtext{
      font-size: 2rem;
   }
}


/* social media icon part  */

/* creating background color  */

.socialsec{
position: relative;
width: 100%;
height: 50vh;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(to bottom,#ff4f8b,#dff1ff);
}

section .color{
   position: absolute;
   filter: blur(150px);
}


/* creating 3 color boxes for gradient  */
section .color:nth-child(1){
   top: 0%;
    left: 0;
    background: #ff359b;
    width: 50%;
    height: 50%;
}
section .color:nth-child(2){
   bottom: 0%;
    background: #fffd87;
    width: 50%;
    height: 50%;
    right: 0%;
}
section .color:nth-child(3){
   bottom: 0%;
   right: 0%;
   background: #00d2ff;
   width: 30%;
   height: 30%;

}


/* now creating half box for icons draw over  */

.socialsec::before{
   content: "";
   position:absolute;
   width: 100%;
   height: 50%;
   bottom:0%;
   z-index:10;
   border-top: 1px solid rgba(255,255,255,0.5);
   background: rgba(255,255,255,0.1);
   backdrop-filter:blur(10px);
}

/* styling icons  */

.socialsec ul{
   position: relative;
   display: flex;
}

.socialsec ul li{
   position: relative;
   list-style: none;
   margin: 10px;
}

.socialsec ul li a{
   position: relative;
   top: 0;
   width: 80px;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   font-size: 2em;
   border: 1px solid rgba(255,255,255,0.4);
   border-right: 1px solid rgba(255,255,255,0.2);
   border-bottom: 1px solid rgba(255,255,255,0.2);
   border-radius: 10px;
   background: rgba(255,255,255,0.1);
   backdrop-filter: blur(4px);
   /* icon will be behind drawer  */
   z-index: 1;
   box-shadow: 0 5px 45px rgba(0,0,0,0.1);
   text-decoration: none;
/* hiding glance  
*/
overflow: hidden;

/* adding transitions and delay  */
transition: top 0.5s,z-index 0.5s,transform 0.5s;
transition-delay: 0.5s, 0s ,0s;

}

/* putting icon on top on hover  */

.socialsec li a:hover{
   transition-delay: 0s, 0.5s ,0.5s;
   top: -50px;
   /* basically we are moving it on top and then transforming after 0.5s  */
   transform: translateY(50px);
   z-index: 11;
 
}



/* creating glass glance effect now  */

.socialsec li a:before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 50px;
   height:100%;
   background: rgba(255,255,255,0.5);

   /* now we will rotate this for 45 deg to create slanted glance */
transform: skewX(45deg) translateX(150px); 
/* now this glance will be shifted  */
transition: 0.5s;

}

/* now making glance effect on hover  */

.socialsec li a:hover::before{
   transform: skewX(45deg)translateX(-150px);

}

/* about section  */



/* styling of the circle pop */
.titleopen{

   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background: #131a58;
   display: flex;
   justify-content: center;
   align-items: center;
   clip-path: circle(0px at center center);

}

.abtcontent{
   position: relative;
   
   margin-top: 185vh;

   background: #131a58;
   padding: 100px;
   color: white;
   text-align: center;
   font-size: x-large;
    font-family: 'Raleway',sans-serif;
}
.abtcontent p{
   color: white;
   
   
}

.innerText{
   position: fixed;
   top: 50%;
   left: 100%;
   transform: translateY(-50%);
   white-space: nowrap;
   z-index: 1;
   font-size: 10vw;
   color: #fff;
   text-align: center;
   width:100% ;

}

.abttext{
   position: fixed;
   top: 50%;
   left: 100%;
   transform: translateY(-50%);
   white-space: nowrap;
   z-index: 1;
   font-size: 10vw;
   color: transparent;
   -webkit-text-stroke: 2px #131a58;;
   text-align: center;
   width:100% ;

}

.scrolldown{
   text-align: center;
   position: relatiave;
   font-size: 4.5rem;
   /* margin-top: 100px; */
}

/* dept card section */

.deptcard{
   position: relative;
   width: 100%;
   min-height: 77vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #131a58;
   overflow: hidden;

}

.swiper {
   width: 100%;
   padding-top: 50px;
   padding-bottom: 50px;
 }

 .swiper-slide.swiper-slide {
   background-position: center;
   background-size: cover;
   width: 320px;
   background: white;
   /* height: 300px; */
   box-shadow: inset 5px 0em 7px 0px #282727d4;
   filter: blur(4px);
}

.swiper-slide-active.swiper-slide-active{
   filter: blur(0px);
}

 

 .swiper-slide img {
   display: block;
   width: 100%;
 }

 .deptcontent{
   color: rgb(12, 3, 51);
   font-size: larger;
 }
 .depticon{
   color: #ffde09;
    /* width: 72px; */
    font-size: 27px;
    left: 84%;
    margin: 5px;
    position: relative;
}
 
.deptBox{
   /* margin: 16px; */
   position: relative;
   width: 100%;
   padding: 40px;
   padding-top: 25px;
}

.depthead{
   display: flex;
   align-items: center;
   margin-top: 20px;
}

.depthead .imgbox{
   position: relative;
   width: 60px;
   height: 60px;
   border-radius: 50%;
   overflow: hidden;
   margin-right: 10px;
}

.depthead .imgbox img{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;


}

.headdet{
   font-size: 16px;
   font-weight: 400;
   letter-spacing: 1px;
   color: #131a58;
   line-height: 1.1em;
   
}

.headdet span{
   font-size: 12px;
   font-family: 'Raleway',sans-serif;
}


/* bubble effect for background image  */

.bubblepic{
   position: absolute;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   
   display: inline-block;
   z-index: 999;

}

.bubblepic span{
   position: relative;
   display: inline-block;
   width: 50px;
   height: 50px;
   margin-top: -4px;
   

}

.bubblepic span::before{

   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background: url("../images/bizbackg.jpeg");
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   transition: 2.5s;
   opacity: 0;
   border-radius: 50%;
   pointer-events: none;
}

.bubblepic span:hover:before{
   transition: 0s;
   opacity: 1;
   width: 250%;
   height: 250%;

}


/* events part start  */



.title{
   color: white;
    position: relative;
    font-size: 7.5rem;
    text-align: center;
    /* top: 5%; */
    margin: 4%;
}

.events{
   position: relative;
   display: flex;
   flex-wrap: wrap;
       justify-content: center;
   width: 100%;
}

.events .box{

   position: relative;
   width: 400px;
   height: 300px;
   overflow: hidden;
   margin: 7px;
   
}

.events .box .eventsimgbox{
   position: absolute;
   background: #131a58;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transition: 1.5s ease-in-out;
   
}

.events .box:hover .eventsimgbox{
   transform: translateY(-150%);

}



.events .box:hover .eventsimgbox img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: contain;

}

.events .box .layer{

   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transition: 1.2s ease-in-out;
}

.events .box .layer.layer1{

   background: #0096ff;
   transform: translateY(150%);

}
.events .box:hover .layer.layer1{

   background: #0096ff;
   transform: translateY(-150%);



}

.events .box .layer.layer2{

   background: #b3a325;;
   transform: translateY(200%);

}
.events .box:hover .layer.layer2{

   background: #b3a325;;
   transform: translateY(-200%);



}
.contentbox{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #0096ff;
   color: white;
   transition: 1.5s ease-in-out;
   transform: translateY(300%);
   display: flex;
   justify-content: cdnter;
   align-items: center;
   padding: 40px;

   
}

.events .box:hover .contentbox{
   transform: translateY(0);
}


.eventtitle{
   color: white;
    text-align: center;
    /* margin-left: 7px; */
    margin-top: 7px;
    font-weight: 500;
}

.eventdesc{
   color: white;
    text-align: center;
    /* margin-left: 7px; */
    margin-top: 7px;
    font-size: 16px;
    font-family: 'Raleway',sans-serif;

}


/* gallery part starts  */
.carousel {
   position: relative;
   display: flex !important;
   justify-content: center !important;
   align-items: center !important;
}

.carousel-inner {
   
   width: 70% !important;
   
}

.carousel-control-next-icon, .carousel-control-prev-icon {
   display: inline-block;
   width: 7rem;
   height: 7rem;
}


/* footer part starts here  */

#footer{
   position: relative;
}

.footerlogo{
   width: 287px;
   filter: drop-shadow(7px 4px 5px rgb(198, 190, 251));
}
.footerlogo:hover{
   filter: drop-shadow(7px 4px 5px linear-gradient(to bottom,#ff4f8b,#dff1ff));  
}

/* styling of the footer box  */


.footerbox{
 background:var(--main-cement);
   
}

.footercol{
   padding: 3% 0 ;
}
h3.footer_title{
   font-size: 3.0rem;
   color: white;
   text-transform: initial;
   font-family: 'Raleway', sans-serif;
   }

   
   /* contact form starts  */

   /* contact section  */

.contactsec{

   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: #131a58;
   position: relative;
   z-index: 0;

}

.contactsec::before{
   content: '';
   position: absolute;
   top: 0%;
   left: 0;
   width: 50%;
   height: 100%;
   background: #b3a325;
   z-index: 0;
}

/* contact container  */

.container-contact{
   position: relative;
   min-width: 1100px;
   min-height:550px;
   display: flex;
   z-index: 1000;
   /* background:white; */
}

.container-contact .contactInfo{

   position: absolute;
   top:40px;
   width:350px;
   height:calc(100% - 80px);
   background:#131a58;
   z-index: 99;
   padding:40px;
   display:flex;
   justify-content:center;
   flex-direction:column;
   justify-content:space-between;
   box-shadow:0 20px 25px rgba(0,0,0,0.15);
   color: white;
}

.contacttitle{
   position: relative;
   left: 6%;
}
.contactaddress{
   font-size:24px;
}
.container-contact .contactInfo li{
   list-style: none;
   font-size: 1.5rem;
   display:flex;
   margin:20px 0;
   cursor: pointer;
   align-items:flex-start;
}

li a{
   color: var(--main-bg);
   text-decoration: none;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 400;

}



.container-contact .contactForm{

   position:absolute;
   padding: 70px 50px;
   padding-left: 250px;
   margin-left:150px;
   width:calc(100% - 150px);
   height:100%;
   background:white;
   box-shadow:0 50px 50px rgba(0,0,0,0.25);
   overflow: hidden;
}

/* icons for contact page  */

.cicon{
   width: 17%;
}

.cicon .fa{
   font-size: 31px;
}
.cinfo{
   margin-left:7px;
   font-size: 76% !important;
   font-family: raleway,sans-serif !important;
}
.address{
   font-weight: 600!important;
}


/* animate on scroll  */

.hidden{
   opacity: 0;
   filter: blur(5px);
   transform: translateX(-100%);
   transition: all 1s;
}

.show{
   opacity: 1;
   filter: blur(0);
   transform: translateX(0);
   transition-delay: 100ms;
}





   /* styling of the contact form  */

   .formtitle{
      position: relative;
      top: -10%;
      font-size: 3.4rem;
   }
   
      .contact-form{
         padding: 0px 14% 1% 0;
         position: relative;
       top: -8%;
         
      }
      
      /* putting asterick * after required label  */
      
      .required{
         font-weight: bold;
      }
      .required:after {
          content:" *";
          color: red;
        }
      
        .form-label{
         font-size: 13px;
         font-family: raleway,sans-serif;
         font-weight:900;
        }
      
        .form-group{
         margin-top: 5.2px;
        }
      
        /* removing up down arrow from number  */
      
        /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      
      /* Firefox */
      input[type=number] {
        -moz-appearance: textfield;
      }
      
      /* submit button for form  */
      
      .enqbtn {
         background-color: rgb(13 91 86) !important;
       border-color: #b3a325 !important;
       font-size: 16px !important;
       height: 42px!important;
       padding: 4px!important;
       width: 98px!important;
       margin: 1% 0;
       border-radius: 15px !important;
       position: relative;
       left: 106%;
         }
      .enqbtn:hover{
         background-color: var(--main-color) !important;
      }
      
      .form-control{
         border-radius: 10px 0 10px 0  !important;
       box-shadow: inset 0em 0em 0.2em #282727;
       font-size: medium;
       font-weight: 500;
       
      }
   
   
      /* now making contact part responsive  */
   
      @media(max-width:1200px){
         .container-contact.container-contact{
            width: 90% !important;
            min-width: auto;
            margin: 20px;
            box-shadow: 0 20px 50px rgba(0,0,0,0.2);
            transition: 0.5ms;
            transition-timing-function: ease-in;
         }
         .contactInfo.contactInfo{
            top: 0;
            height: 550px;
            position: relative;
            box-shadow: none;
            transition: 0.5ms;
            transition-timing-function: ease-in;
         }
         .contactForm.contactForm{
            position: relative;
            width:calc(100% - 350px);
            padding-left: 0;
            margin-left: 0;
            padding: 40px;
            height: 550px;
            transition: 0.5ms;
            transition-timing-function: ease-in;
            
   
         }
         .enqbtn.enqbtn{
            left: 100%;
            transition: 0.5ms;
            transition-timing-function: ease-in;
               
            
         }
         .formtitle.formtitle{
            top: -1%;
        }
        .contact-form.contact-form{
         top: 0%;
        }
        
   
      }
   
      @media(max-width:991px){
         .contactsec.contactsec{
            background:#b3a325;
   
         }
      .contactsec::before{
         display: none;
      }
      .container-contact.container-contact{
         display: flex;
         /* column reverse for putting info down  */
         flex-direction: column-reverse;
      }
   .contactForm.contactForm{
      width:100% ;
   }
   .contactInfo.contactInfo{
      width: 100%;
   }
   
   .formtitle.formtitle{
      top: -6%;
   }
   .contact-form.contact-form{
   top: -5%;
   }
   .enqbtn.enqbtn{
      left: 96%;
      width: 70px!important;
      height: 35px !important;
   }
}

/* creating glass glance effect now  */

.contactForm:before{
   content: "";
   position: absolute;
   top: 0;
   left: 99%;
   width: 69px;
   height: 100%;
   background: rgb(93 107 229 / 45%);
   transform: skewX(45deg) translateX(-61px);
   transition: 0.5s;

  
}

/* now making glance effect on hover  */

.contactForm:hover::before{
   transform: skewX(45deg)translateX(61px);

}