<div class="" data-aos="fade-left">

  
  
  <h1 class="title ">Departments</h1>
  
  <section class="deptcard" >
      
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
    
          <div class="swiper-slide">
            <div class="deptBox">
              <i class="fa fa-search depticon" aria-hidden="true"></i>
    
              <div class="deptcontent">
                <h2>Research dept:</h2>
                <p>the research department is responsible for keeping up with trends and researching new happenings in the business world. they acquire and maintain databases for the national entrepreneurship challenge tasks. they are in charge of analysing the data and drawing conclusions for further planning and betterment of the cell.</p>
             
                <div class="depthead">
                  <div class="imgbox">
                    <img src="images/deptheads/research.jpeg" alt="research head img">
                  </div>
                  <h3 class="headdet">Priyal Jindal <br><span> Research Manager</span></h3>
                </div>
             
             
              </div>
            </div>
          </div>
    
          
          <div class="swiper-slide">
            <div class="deptBox">
              <i class="fa fa-search depticon" aria-hidden="true"></i>
    
              <div class="deptcontent">
                <h2>Editorial dept:</h2>
                <p>the editorial department works on all kinds of content related to a corporate. it includes creating content for social media platforms and websites and composing official emails and letters. they also proofread other content.
                  they also assist in hosting and other tasks of the e-cell.</p>
             
                <div class="depthead">
                  <div class="imgbox">
                    <img src="images/deptheads/editorial.jpeg" alt="research head img">
                  </div>
                  <h3 class="headdet">Nandini Acharya <br><span>Editorial Manager</span></h3>
                </div>
             
             
              </div>
            </div>
          </div>
    
    
          <div class="swiper-slide">
            <div class="deptBox">
              <i class="fa fa-search depticon" aria-hidden="true"></i>
    
              <div class="deptcontent">
                <h2>Designing dept:</h2>
                <p>the designing department is in charge of handling all the creatives that are being published through society's social media platforms. they design posters for the marketing team to promote events and create ppts. they shape the complete ideas from scratch. they also assist other departments.</p>
             
                <div class="depthead">
                  <div class="imgbox">
                    <img src="images/deptheads/design.jpeg" alt="research head img">
                  </div>
                  <h3 class="headdet">Saumya Jain <br><span>Designing Head</span></h3>
                </div>
             
             
              </div>
            </div>
          </div>
    
    
    
          <div class="swiper-slide">
            <div class="deptBox">
              <i class="fa fa-search depticon" aria-hidden="true"></i>
    
              <div class="deptcontent">
                <h2>Sponsorship dept:</h2>
                <p>The sponsorship is responsible for maintaining funds in cash and kind. they plan funds for events, webinars/seminars. the dept gets in touch with different sponsors to acquire funds as planned.
                  they majorly maintain the deliverables of both the collaborating parties. they also help arrange field visits to industries for enabling better practical exposure.</p>
             
                <div class="depthead">
                  <div class="imgbox">
                    <img src="images/deptheads/sponsorship.jpeg" alt="research head img">
                  </div>
                  <h3 class="headdet">Aadish Jain <br><span>Sponsorship Head</span></h3>
                </div>
             
             
              </div>
            </div>
          </div>
    
    
          <div class="swiper-slide">
            <div class="deptBox">
              <i class="fa fa-search depticon" aria-hidden="true"></i>
    
              <div class="deptcontent">
                <h2>Creative dept:</h2>
                <p>the creative department comes up with creative ideas for events and activities. their major role is in planning the themes of the events and preparing the decoratives for offline events.
                  they also oversee reels and videos for social media platforms</p>
             
                <div class="depthead">
                  <div class="imgbox">
                    <img src="images/deptheads/creative.jpeg" alt="research head img">
                  </div>
                  <h3 class="headdet">Tushar Garg <br><span> Creative Head</span></h3>
                </div>
             
             
              </div>
            </div>
          </div>
    
    
    
          <div class="swiper-slide">
            <div class="deptBox">
              <i class="fa fa-search depticon" aria-hidden="true"></i>
    
              <div class="deptcontent">
                <h2>IT dept:</h2>
                <p> Designed and made the e-cell's official website from scratch. they constantly develop the website for better use
                  they assist the design department in designing various projects. they also assist in creating reels and videos along with the designing and creative department.</p>
             
                <div class="depthead">
                  <div class="imgbox">
                    <img src="images/deptheads/it.jpeg" alt="research head img">
                  </div>
                  <h3 class="headdet">Romit Gogia <br><span>IT Manager</span></h3>
                </div>
             
             
              </div>
            </div>
          </div>
    
    
          <div class="swiper-slide">
            <div class="deptBox">
              <i class="fa fa-search depticon" aria-hidden="true"></i>
    
              <div class="deptcontent">
                <h2>Operations dept:</h2>
                <p>the organising department plans and oversees the execution of events and webinars. they plan offline meetings and fun activities often to keep the cell members connected. they also maintain the cell's resources and planning their usage.</p>
             
                <div class="depthead">
                  <div class="imgbox">
                    <img src="images/deptheads/operations.jpeg" alt="research head img">
                  </div>
                  <h3 class="headdet">Saijal Bansal <br><span>Operations Manager</span></h3>
                </div>
             
             
              </div>
            </div>
          </div>
    
          <div class="swiper-slide">
            <div class="deptBox">
              <i class="fa fa-search depticon" aria-hidden="true"></i>
    
              <div class="deptcontent">
                <h2>HR dept:</h2>
                <p>they establish a proper communication chain in the cell and manage the tasks by clarifying the roles and responsibilities of each department. they handle the students' grievances and resolve inter-departmental conflicts for better operation of the e-cell.</p>
             
                <div class="depthead">
                  <div class="imgbox">
                    <img src="images/deptheads/hr.jpeg" alt="research head img">
                  </div>
                  <h3 class="headdet">Jai Beniwal <br><span>HR Head</span></h3>
                </div>
             
             
              </div>
            </div>
          </div>
    
          <div class="swiper-slide">
            <div class="deptBox">
              <i class="fa fa-search depticon" aria-hidden="true"></i>
    
              <div class="deptcontent">
                <h2>PR dept:</h2>
                <p>the pr department handles the relationship of the cell with other societies as well as the inter-societal conflicts. they mainly assist the marketing department with collaborations and mous signing. the department is primarily responsible for managing proper communication with event and media partners.</p>
             
                <div class="depthead">
                  <div class="imgbox">
                    <img src="images/deptheads/pr.jpeg" alt="research head img">
                  </div>
                  <h3 class="headdet">Head Name <br><span>Desgination</span></h3>
                </div>
             
             
              </div>
            </div>
          </div>
    
    
          <div class="swiper-slide">
            <div class="deptBox">
              <i class="fa fa-search depticon" aria-hidden="true"></i>
    
              <div class="deptcontent">
                <h2>Marketing dept:</h2>
                <p>As the face of the e-cell, the marketing department represents the e-cell on several occasions.
                  they maintain relationships with other societies and collaborating with media and event partners. they have to sign and renew the mous as per the deliverables of the collaborating parties. they are in charge of promoting the cell's events and web/seminars.</p>
             
                <div class="depthead">
                  <div class="imgbox">
                    <img src="images/deptheads/marketing.jpeg" alt="research head img">
                  </div>
                  <h3 class="headdet">Himanshu <br><span>Marketing Head</span></h3>
                </div>
             
             
              </div>
            </div>
          </div>
    
    
    
    
          
          
        </div>
        <div class="swiper-pagination"></div>
      </div>
    
    </section>
  

</div>