<div class="container-fluid eventssec" data-aos="fade-right">
  <h1 class="title " id="events" >Events</h1>

    <div class="row">
  
      <div class="col-md-10 col-12 events mx-auto">


    <div class="box">
        <div class="eventsimgbox">
            <img src="images/events/img1.jpeg" alt="" class="eventsimg">
        </div>
        <div class="layer layer1"></div>
        <div class="layer layer2"></div>
        <div class="contentbox">
<div><h2 class="eventtitle">
    Digital Marketing Seminar
    </h2>
    <p class="eventdesc">
        Seminar on “Digital Marketing”, which focused on the work life of Mr Sahil Khanna and his role as one of the leading digital marketers today and how he made up his way towards becoming an Entrepreneur
    </p></div>
            
        </div>
    </div>


    <div class="box">
        <div class="eventsimgbox">
            <img src="images/events/img2.jpeg" alt="" class="eventsimg">
        </div>
        <div class="layer layer1"></div>
        <div class="layer layer2"></div>
        <div class="contentbox">
<div>            <h2 class="eventtitle">
    Social Entrepreneurship Seminar
    </h2>
    <p class="eventdesc">
        BIZMIND organized a Workshop/ Seminar on “Social Entrepreneurship- Want to change the World?”, which focused on the college and work life of Mr Subhrajeet Gautam and his role as one of the leading social entrepreneurs today and how he made up his path towards becoming a Social Entrepreneur working with around 1 lakh people throughout India.            </p>
</div>

        </div>
    </div>


    <div class="box">
        <div class="eventsimgbox">
            <img src="images/events/img3.jpeg" alt="" class="eventsimg">
        </div>
        <div class="layer layer1"></div>
        <div class="layer layer2"></div>
        <div class="contentbox">
            <div>            <h2 class="eventtitle">
                Indigram Labs Incubation Center
                </h2>
                <p class="eventdesc">
                    Field trip to Indigram Labs Incubation Center, Saket. ‘Indigram Labs Foundation (ILF) was set up as a Technology Business Incubator in 2016 and supported by NSTEDB, Department of Science & Technology, Government of India.            </p>
    </div>
        </div>
    </div>

    <div class="box">
        <div class="eventsimgbox">
            <img src="images/events/img4.jpeg" alt="" class="eventsimg">
        </div>
        <div class="layer layer1"></div>
        <div class="layer layer2"></div>
        <div class="contentbox">
            <div>            <h2 class="eventtitle">
                event title
                </h2>
                <p class="eventdesc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dolorum quibusdam nesciunt saepe aut ab assumenda quo sequi recusandae! Maxime, nisi. Odio accusamus maiores tempore excepturi nisi deserunt quod esse libero. Voluptas repudiandae laborum atque sapiente? Nostrum at quod minus aperiam quas optio, recusandae in earum aliquid consequatur? Incidunt itaque neque enim temporibus voluptas deleniti, beatae eaque est praesentium quod explicabo facilis nihil eum debitis magnam velit atque dolor animi pariatur, nam quae. Reprehenderit laudantium fuga animi. Dicta dignissimos ipsam, quibusdam minima reiciendis eveniet nihil quas necessitatibus fugit incidunt provident veritatis unde debitis ad deserunt, esse beatae sapiente in. Rerum ducimus sunt similique eaque hic vel suscipit officiis molestiae nobis dolore facilis consequuntur minus, in distinctio. Autem aspernatur fuga quasi veniam omnis inventore vitae eos iusto. Explicabo reiciendis fugit ipsam deleniti eum voluptates incidunt libero eligendi quae! Nisi totam ipsum soluta non saepe eos sit repellat? Repellendus consequuntur modi maxime autem itaque sunt harum ab numquam quasi, similique soluta mollitia ad impedit voluptatem quia neque earum debitis, laboriosam repudiandae nihil ipsa? Expedita doloremque consectetur itaque doloribus laborum laudantium, nulla nisi, eos cupiditate incidunt praesentium repellendus quasi veniam quia totam. Sed quis non incidunt perspiciatis nobis numquam necessitatibus, officia voluptas eius qui perferendis cupiditate, quia voluptates itaque beatae sit ratione est porro error illum quisquam tempora officiis dolorem. Fuga sequi voluptatibus ipsum sed soluta id architecto non nihil qui, expedita nisi? Quod repudiandae ut quia, possimus magnam illum aspernatur minima error. Perferendis enim blanditiis quas facere alias optio, odit eligendi harum accusamus non quibusdam atque a modi, debitis, quis nihil reprehenderit. Ducimus autem quidem ratione iste illo delectus nobis dolorem iusto, enim consectetur, laborum corporis dignissimos a provident eos aspernatur odit. Accusantium, amet impedit voluptatibus a fugit rerum velit reprehenderit odit et commodi sed architecto, ducimus adipisci suscipit ea necessitatibus non!
    </div>
            </p>
        </div>
    </div>

    <div class="box">
        <div class="eventsimgbox">
            <img src="images/events/img5.jpeg" alt="" class="eventsimg">
        </div>
        <div class="layer layer1"></div>
        <div class="layer layer2"></div>
        <div class="contentbox">
            <div>            <h2 class="eventtitle">
                event title
                </h2>
                <p class="eventdesc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dolorum quibusdam nesciunt saepe aut ab assumenda quo sequi recusandae! Maxime, nisi. Odio accusamus maiores tempore excepturi nisi deserunt quod esse libero. Voluptas repudiandae laborum atque sapiente? Nostrum at quod minus aperiam quas optio, recusandae in earum aliquid consequatur? Incidunt itaque neque enim temporibus voluptas deleniti, beatae eaque est praesentium quod explicabo facilis nihil eum debitis magnam velit atque dolor animi pariatur, nam quae. Reprehenderit laudantium fuga animi. Dicta dignissimos ipsam, quibusdam minima reiciendis eveniet nihil quas necessitatibus fugit incidunt provident veritatis unde debitis ad deserunt, esse beatae sapiente in. Rerum ducimus sunt similique eaque hic vel suscipit officiis molestiae nobis dolore facilis consequuntur minus, in distinctio. Autem aspernatur fuga quasi veniam omnis inventore vitae eos iusto. Explicabo reiciendis fugit ipsam deleniti eum voluptates incidunt libero eligendi quae! Nisi totam ipsum soluta non saepe eos sit repellat? Repellendus consequuntur modi maxime autem itaque sunt harum ab numquam quasi, similique soluta mollitia ad impedit voluptatem quia neque earum debitis, laboriosam repudiandae nihil ipsa? Expedita doloremque consectetur itaque doloribus laborum laudantium, nulla nisi, eos cupiditate incidunt praesentium repellendus quasi veniam quia totam. Sed quis non incidunt perspiciatis nobis numquam necessitatibus, officia voluptas eius qui perferendis cupiditate, quia voluptates itaque beatae sit ratione est porro error illum quisquam tempora officiis dolorem. Fuga sequi voluptatibus ipsum sed soluta id architecto non nihil qui, expedita nisi? Quod repudiandae ut quia, possimus magnam illum aspernatur minima error. Perferendis enim blanditiis quas facere alias optio, odit eligendi harum accusamus non quibusdam atque a modi, debitis, quis nihil reprehenderit. Ducimus autem quidem ratione iste illo delectus nobis dolorem iusto, enim consectetur, laborum corporis dignissimos a provident eos aspernatur odit. Accusantium, amet impedit voluptatibus a fugit rerum velit reprehenderit odit et commodi sed architecto, ducimus adipisci suscipit ea necessitatibus non!
    </div>
            </p>
        </div>
    </div>

    <div class="box">
        <div class="eventsimgbox">
            <img src="images/events/img3.jpeg" alt="" class="eventsimg">
        </div>
        <div class="layer layer1"></div>
        <div class="layer layer2"></div>
        <div class="contentbox">
            <div>            <h2 class="eventtitle">
                event title
                </h2>
                <p class="eventdesc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dolorum quibusdam nesciunt saepe aut ab assumenda quo sequi recusandae! Maxime, nisi. Odio accusamus maiores tempore excepturi nisi deserunt quod esse libero. Voluptas repudiandae laborum atque sapiente? Nostrum at quod minus aperiam quas optio, recusandae in earum aliquid consequatur? Incidunt itaque neque enim temporibus voluptas deleniti, beatae eaque est praesentium quod explicabo facilis nihil eum debitis magnam velit atque dolor animi pariatur, nam quae. Reprehenderit laudantium fuga animi. Dicta dignissimos ipsam, quibusdam minima reiciendis eveniet nihil quas necessitatibus fugit incidunt provident veritatis unde debitis ad deserunt, esse beatae sapiente in. Rerum ducimus sunt similique eaque hic vel suscipit officiis molestiae nobis dolore facilis consequuntur minus, in distinctio. Autem aspernatur fuga quasi veniam omnis inventore vitae eos iusto. Explicabo reiciendis fugit ipsam deleniti eum voluptates incidunt libero eligendi quae! Nisi totam ipsum soluta non saepe eos sit repellat? Repellendus consequuntur modi maxime autem itaque sunt harum ab numquam quasi, similique soluta mollitia ad impedit voluptatem quia neque earum debitis, laboriosam repudiandae nihil ipsa? Expedita doloremque consectetur itaque doloribus laborum laudantium, nulla nisi, eos cupiditate incidunt praesentium repellendus quasi veniam quia totam. Sed quis non incidunt perspiciatis nobis numquam necessitatibus, officia voluptas eius qui perferendis cupiditate, quia voluptates itaque beatae sit ratione est porro error illum quisquam tempora officiis dolorem. Fuga sequi voluptatibus ipsum sed soluta id architecto non nihil qui, expedita nisi? Quod repudiandae ut quia, possimus magnam illum aspernatur minima error. Perferendis enim blanditiis quas facere alias optio, odit eligendi harum accusamus non quibusdam atque a modi, debitis, quis nihil reprehenderit. Ducimus autem quidem ratione iste illo delectus nobis dolorem iusto, enim consectetur, laborum corporis dignissimos a provident eos aspernatur odit. Accusantium, amet impedit voluptatibus a fugit rerum velit reprehenderit odit et commodi sed architecto, ducimus adipisci suscipit ea necessitatibus non!
    </div>
            </p>
        </div>
    </div>


  </div>

  </div>
</div>
