<section class="socialsec" id="social">
<div class="color"></div>
<div class="color"></div>
<div class="color"></div>

<ul>
    <!-- social media icons  -->
<li><a href="#" class=""><i class="fa fa-facebook"></i></a></li>
<li><a href="#" class=""><i class="fa fa-instagram"></i></a></li>
<li><a href="#" class=""><i class="fa fa-twitter"></i></a></li>
<li><a href="#" class=""><i class="fa fa-linkedin"></i></a></li>



</ul>


</section>